:root{
    --white: #ffffff;
    --black: #000000;
    --albi: #e84e10; --albiSec: #174195;
    --avi: #0092ae; --aviSec: #0b2355;
    --cos: #d60666; --cosSec: #30287d;
    --fctk: #26348c; --fctkSec:#e4032f;
    --gos: #00468e; --gosSec: #000000;
    --sapp: #d30a12; --sappSec: #000000;
    --kasm: #b71e3f; --kasmSec: #000000;
    --kasw: #feed00; --kaswSec: #000000;
    --kaf: #3ea2dd; --kafSec: #000000;
    --kyot: #750069; --kyotSec: #e6002e;
    --nago:  #d51216; --nagoSec: #f29200;
    --tosu: #ea5599; --tosuSec: #009ccc;
    --hiro: #59358c; --hiroSec: #ffffff;
    --shon: #77b82a; --shonSec: #005da0;
    --reds: #e4032f; --redsSec: #000000;
    --kobe: #a40931; --kobeSec: #000000;
    --yfc: #009fe3; --yfcSec: #13387f;
    --yfm: #174195; --yfmSec: #e4003b;
    
}
.albi{
    background-image: url('../images/Stadiums/BigSwanStadium\ Medium.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.albi .header{
    color: var(--albi);
    text-shadow:
        0.05em 0 var(--albiSec),
        0 0.05em var(--albiSec),
        0.05em 0.05em var(--albiSec);
}
.albi .team-info{
    background-size: 180px 180px;
    background-color: var(--albi);

    background-image: -webkit-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(var(--albiSec)5 50%, transparent 50%, transparent);
    background-image: linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
}
.albi .social-media-hdr-title-underline{
    background-image: 
        linear-gradient(90deg, rgba(26,25,25,0.0001) 0,
        var(--albi) 10%, var(--albiSec) 99.96%);
}
.albi .social-media-value{
    color: var(--albiSec)
}
.albi .social-media-img{
    background: var(--albi);
}
.albi .social-media-img:hover{
    background-color: var(--albiSec);
}

.avi{
    background-image: url('../images/Stadiums/BestDenkiStadium\ Large.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center;  
}
.avi .header{
    color: var(--avi);
    text-shadow:
        0.05em 0 var(--aviSec),
        0 0.05em var(--aviSec),
        0.05em 0.05em var(--aviSec);
}
.avi .team-info{
    background-image: 
        linear-gradient(
            90deg,
            var(--avi) 18.04%,
            var(--aviSec)18.04%,
            var(--aviSec) 50%, 
            var(--avi) 50%, 
            var(--avi) 68.04%, 
            var(--aviSec) 68.04%, 
            var(--aviSec) 100%
            );
    background-size: 195.00px 200.00px;
}
.avi .social-media-hdr-title-underline{
    background-image: linear-gradient(90deg, rgba(26,25,25,0.0001) 
    0, var(--avi) 10%, var(--aviSec) 99.96%);
}
.avi .social-media-value{
    color: var(--avi)
}
.avi .social-media-img{
    background: var(--aviSec);
}
.avi .social-media-img:hover{
    background-color: var(--avi);
}

.crz{
    background-image: url('../images/Stadiums/CerezoOsaka.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.crz .header{
    color: var(--cos);
    text-shadow:
        0.05em 0 var(--cosSec),
        0 0.05em var(--cosSec),
        0.05em 0.05em var(--white);
}
.crz .team-info{
    background:
        /* On "top" */
        repeating-linear-gradient(
            45deg,
            transparent,   
            transparent 10px,
            var(--cosSec) 10px,
            var(--cos) 20px
        ),
        /* on "bottom" */
        linear-gradient(
            to bottom,
            var(--cos),
            var(--cos)
        );
}
.crz .social-media-hdr-title-underline{
    background-image: 
        linear-gradient(90deg, rgba(26,25,25,0.0001) 
    0, var(--cos) 10%, var(--cosSec) 99.96%);
}
.crz .social-media-value{
    color: var(--cosSec)
}
.crz .social-media-img{
    background: var(--cos);
}
.crz .social-media-img:hover{
    background-color: var(--cosSec);
}

.fctk{
    background-image: url('../images/Stadiums/FCTokyoStadium.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.fctk .header{
    color: var(--fctk);
    text-shadow:
        0.05em 0 var(--white),
        0 0.05em var(--white),
        0.05em 0.05em var(--white);
}
.fctk .team-info{
    background-image: linear-gradient(
        90deg,
        var(--fctk) 0%,
        var(--fctk) 20%,
        var(--fctkSec) 20%,
        var(--fctkSec) 40%,
        var(--fctk)40%,
        var(--fctk) 60%,
        var(--fctkSec) 60%,
        var(--fctkSec) 80%,
        var(--fctk) 80%,
        var(--fctk) 100%
    );
}
.fctk .social-media-hdr-title-underline{
    background-image: 
        linear-gradient(
            90deg,
            rgba(26,25,25,0.0001) 0,
            var(--fctk) 10%,
            var(--fctkSec) 70.96%
        );
}
.fctk .social-media-value{
    color: var(--fctkSec)
}
.fctk .social-media-img{
    background: var(--fctk);
}
.fctk .social-media-img:hover{
    background-color: var(--fctkSec);
}

.gamba{
    background-image: url('../images/Stadiums/GambaOsakaStadium.jpeg');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.gamba .header{
    color: var(--gos);
    text-shadow:
        0.05em 0 var(--gosSec),
        0 0.05em var(--gosSec),
        0.05em 0.05em var(--gosSec);
}
.gamba .team-info{
    background-image: linear-gradient(
        90deg,
        var(--gos) 0%,
        var(--gos) 20%,
        var(--gosSec) 20%,
        var(--gosSec) 40%,
        var(--gos)40%,
        var(--gos) 60%,
        var(--gosSec) 60%,
        var(--gosSec) 80%,
        var(--gos) 80%,
        var(--gos) 100%
    );
}
.gamba .social-media-hdr-title-underline{
    background-image: 
        linear-gradient(
            90deg,
            rgba(26,25,25,0.0001) 0,
            var(--white) 10%,
            var(--gos) 70.96%
        );
}
.gamba .social-media-value{
    color: var(--white)
}
.gamba .social-media-img{
    background: var(--gos);
}
.gamba .social-media-img:hover{
    color: var(--gos);
    background-color: var(--white);
}

.consa{
    background-image: url('../images/Stadiums/SapporoDome\ Large.jpeg');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.consa .header{
    color: var(--sapp);
    text-shadow:
        0.05em 0 var(--sappSec),
        0 0.05em var(--sappSec),
        0.05em 0.05em var(--sappSec);
}
.consa .team-info{
    background-image: linear-gradient(
        90deg,
        var(--sapp) 0%,
        var(--sapp) 20%,
        var(--sappSec) 20%,
        var(--sappSec) 40%,
        var(--sapp)40%,
        var(--sapp) 60%,
        var(--sappSec) 60%,
        var(--sappSec) 80%,
        var(--sapp) 80%,
        var(--sapp) 100%
    );
}
.consa .social-media-hdr-title-underline{
    background-image: 
        linear-gradient(
            90deg,
            rgba(26,25,25,0.0001) 0,
            var(--white) 10%,
            var(--sapp) 70.96%
        );
}
.consa .social-media-value{
    color: var(--white)
}
.consa .social-media-img{
    background: var(--sapp);
}
.consa .social-media-img:hover{
    color: var(--sapp);
    background-color: var(--white);
}