:root{
    --white: #ffffff;
    --black: #000000;
    --albi: #e84e10; 
    --albiSec: #174195;
    
}
.albi{
    background-image: url('../images/Stadiums/BigSwanStadium\ Medium.png');
    background-repeat: no-repeat;
    margin-top: -40px;
    background-size:cover;
    background-attachment: fixed;
    align-items: center; 
}
.albi .header{
    margin-top: 40px;
    color: var(--albi);
    text-shadow:
        0.05em 0 var(--albiSec),
        0 0.05em var(--albiSec),
        0.05em 0.05em var(--albiSec);
}
.albi .team-info{
    background-size: 180px 180px;
    background-color: var(--albi);

    background-image: -webkit-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(var(--albiSec)5 50%, transparent 50%, transparent);
    background-image: linear-gradient(var(--albiSec) 50%, transparent 50%, transparent);
}
.albi .social-media-hdr-title-underline{
    background-image: linear-gradient(90deg, rgba(26,25,25,0.0001) 
    0,rgba(232,78,16,1) 10%, rgba(23,65,149,1) 99.96%);
}
.albi .social-media-value{
    color: var(--albi)
}
.albi .social-media-img{
    background: var(--albi);
}
.albi .social-media-img:hover{
    background-color: var(--albiSec);
}
