h1{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    font-family: overpass,sans-serif;
    font-style: italic;
}

h1 .team-logo{
    margin-top: -10px;
    height: 85px;
    width: auto;
}

.team-info{
    background-attachment: fixed;
    position: relative;
    margin: 0 48px;
    padding: 52px;
    
}

.team-info-wrapper{
    background: #f6eee3;
    padding: 15px;
    border-radius: 6px;
}

.info-title{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;

}


.info-item{
    font-weight: bolder;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: black;
    
    margin-top: 40px;
    
}

.info-value{
    font-size: 20px;
    line-height: 35px;
    color: black;
    
}