* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.J1-logo {
  justify-content: flex-start;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  width: auto;
  height: 65px;
}
